.orderHeader {
    display: inline-block;
    font-size: 34px;
    font-weight: 500;
    padding: 20px 0px 10px 70px;
}

.orderItem2 {

    width: 75%;
    display: grid;
    grid-template-columns: repeat(7, 200px);
    text-align: left;
}

.orderItem span:first-child {
    margin-left: 0px;
}

.hr {
    margin-left: 0px;
    width: 90%;
}